@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Services;
@inject IUserService UserService;
@using Umbraco.Cms.Core.Models.PublishedContent;

@{
    var userService = UserService;
    var image = Model.Value<IPublishedContent>("newsArticleImage");
    var selection = Umbraco?.Content(Guid.Parse("2ef6931a-33bb-4dd6-a11b-f46aa50d9849"))
        .ChildrenOfType("newsArticlePage")?
        .Where(x => x.IsVisible())
        .OrderByDescending(x => x.CreateDate).ToList();

    var globalSettingsPage = Umbraco.Content(1276);
    string asideTitle = globalSettingsPage?.Value<string>("newsArticleAsideTitle");
    string categoriesTitle = globalSettingsPage?.Value<string>("newsArticleAsideCategoriesTitle");


}

<section class="news-article-section">
    <div class="container">
        <div class="news-article">
            <h1>@Model.Name</h1>
            <div class="article-details">
                <span>@Model.CreateDate.ToString("MMM dd, yyyy")</span>
                <i class="fa-solid fa-circle"></i>
                <span>@Model.Value("newsArticleCategory")</span>
                <i class="fa-solid fa-circle"></i>
                <span>@Model.CreatorName(UserService)</span>
            </div>


            <div class="content">
                <img class="article-img" style="width:780px;" src="@image.Url()" alt="">
                <p>@Model.Value("newsArticleContent")</p>
            </div>
            <ul class="tags">
                @foreach(var tag in Model.Value<IEnumerable<String>>("newsArticleTags"))
              {
                <li>@tag</li>
              }
            </ul>
        </div>

        <aside>
            <div class="search-container">
                <input type="text" placeholder="Type to search..." class="search-input">
                <button class="search-button"><i class="fa fa-search"></i></button>
            </div>

            <div class="recent-posts">
                <h2>@asideTitle</h2>
                <ul class="recent-list">
                    @if ( selection != null)
                    {
                      foreach (var item in selection)
                      {
                       var date = item.CreateDate;
                       var title = item.Name();

                        <li>
                            @title
                        <p>@date.ToString("MMM dd, yyyy")</p>
                        </li>
                       }
                    }
                </ul>
            </div>
            <div class="categories">
                <h2>@categoriesTitle</h2>
                <ul>
                    <li>Technology - 20 Posts</li>
                    <li>Freelancing - 07 Posts</li>
                    <li>Writing - 16 Posts</li>
                    <li>Marketing - 11 Posts</li>
                    <li>Business - 35 Posts</li>
                    <li>Education - 14 Posts</li>
                </ul>
            </div>
        </aside>
    </div>
</section>
