@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.PublishedContent
@using System.Linq
@using System
@{
    var itemsPerPage = 3;
    var pageNumber = 1;

    if (!int.TryParse(Context.Request.Query["page"], out pageNumber))
    {
        pageNumber = 1;
    }

    var selection = Umbraco?.Content(Guid.Parse("2ef6931a-33bb-4dd6-a11b-f46aa50d9849"))
        .ChildrenOfType("newsArticlePage")?
        .Where(x => x.IsVisible())
        .OrderByDescending(x => x.CreateDate).ToList();

    var totalItems = selection?.Count ?? 0;
    var pagedItems = selection?.Skip((pageNumber - 1) * itemsPerPage).Take(itemsPerPage);
    
    var globalSettingsPage = Umbraco.Content(1276);
    string sectionTitle = globalSettingsPage?.Value<string>("articleAndNewsSectionTitle");
    string sectionHeading = globalSettingsPage?.Value<string>("articleAndNewsSectionHeading");
    string buttonText = globalSettingsPage?.Value<string>("articleAndNewsSectionButtonText");
    string buttonUrl = globalSettingsPage?.Value<string>("articleAndNewsSectionButtonUrl");
    
}

<section class="article-and-news-section bg-color">
    <div class="container">
        <div class="title">
            <h2 class="h2-2">@sectionTitle</h2>
            <div class="article-and-news-heading">
                <h1>@sectionHeading</h1>
                <a href="@buttonUrl" class="transparent-button">@buttonText<i class="fa-solid fa-arrow-up-right"></i></a>
            </div>
        </div>
        <div class="articles">
            @if (pagedItems != null)
            {
                foreach (var item in pagedItems)
                {
                    var url = item.Url();
                    var date = item.CreateDate;
                    var image = item.Value<IPublishedContent>("newsArticleImage");
                    var category = item.Value("newsArticleCategory");
                    var title = item.Name();
                    var preamble = item.Value("newsArticlePreamble");

            <a href="@url" class="article">
                <div class="article-date">
                    <div class="day">@date.ToString("dd")</div>
                    <div class="month">@date.ToString("MMM")</div>
                </div>
                <img src="@image?.Url()" alt="@title">
                <p class="category">@category</p>
                <h5>@title</h5>
                <p>@preamble</p>
            </a>
                }
            }
        </div>
        <nav class="dot-pagination" aria-label="Page navigation">
            @for (int i = 1; i <= Math.Ceiling((decimal)totalItems / itemsPerPage); i++)
            {
            <a href="?page=@i" class="dot-link @(i == pageNumber ? "active" : "")"></a>
            }
        </nav>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        if (localStorage.getItem("scrollPosition")) {
            window.scrollTo(0, localStorage.getItem("scrollPosition"));
            localStorage.removeItem("scrollPosition");
        }

        var paginationLinks = document.querySelectorAll(".dot-link");
        paginationLinks.forEach(function (link) {
            link.addEventListener("click", function () {
                localStorage.setItem("scrollPosition", window.scrollY);
            });
        });
    });
</script>
