@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider


@{
    var site = Model.Root();
    var selection = Model.Root().Children.Where(x => x.IsVisible(PublishedValueFallback)).ToArray();
}


<section class="navbar-section padding bg-color">
    <nav class="navbar">
        <img class="logo" src="~/images/shared_img/main-logo.svg" alt="crito-logo" />
        <div class="contact-info">
            <ul class="address">
                <li><i class="fa-light fa-phone-volume"></i>+46 7(8) 121 470 50</li>
                <li><i class="fa-light fa-envelope"></i>info@crito.com</li>
                <li>
                    <i class="fa-light fa-location-dot"></i>Sveavägen 31, 111 34
                    STOCKHOLM
                </li>
            </ul>
            <ul class="socials">
                <li><a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
        </div>

        <div class="nav-links">
            <ul>
                <li>
                    <a class="@(Model.Id == site.Id ? "active": null)" href="@site.Url()">@site.Name</a>
                </li>

                @if (selection?.Length > 0)
            {
                foreach (var item in selection)
                {
                <li><a class="@(item.IsAncestorOrSelf(Model)? "active" : null)" href="@item.Url(PublishedUrlProvider)">@item.Name</a></li>
                }
            }
            </ul>
            <button class="yellow-button">Login<i class="fa-solid fa-arrow-up-right"></i></button>
        </div>
    </nav>
</section>